@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --white-color: #fff;
  --black-color:#000;
  --background-color: #4285f4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: all linear 0.3s;
  list-style-type: none;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  background: var(--background-color);
}

.wrapper{
  width: 370px;
  margin: 100px 450px;
}

.select-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  font-size: 22px;
  padding: 15px 20px;
  background: var(--white-color);
  border-radius: 7px;
  cursor: pointer;
}

.wrapper.active .select-btn i{
  transform: rotate(-180deg);
}

.wrapper .content{
  padding: 20px;
  margin-top: 15px;
  border-radius: 7px;
  background: var(--white-color);
}

.wrapper.active .content{
  display: none;
}

.wrapper .content .search{
  position: relative;
  margin-top: 10px;
}

.wrapper .content .search i{
  position: absolute;
  top: 20px;
  left: 10px;
  color: #999;
}

.wrapper .content .search input{
  width: 100%;
  height: 53px;
  font-size: 16px;
  outline: none;
  padding: 10px 30px;
  border-radius: 7px;
  border: 1px solid #b3b3b3;
}

.content .options{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
}

.content .options::-webkit-scrollbar{
  width: 7px;
}

.content .options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}

.content .options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}

.content .options li{
  height: 50px;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
}

.content .options li:hover{
  background: #f2f2f2;
}
